{{ define "main" }}
<div class="wrapper post">
    <main class="page-content" aria-label="Content">
        <article>
            <header class="header">
                <h1 class="header-title">{{ .Title }}</h1>
                {{ $configDateFormat := .Site.Params.dateFormat | default ":date_medium" }}
                {{ with .Date }}
                {{ $ISO_time := dateFormat "2006-01-02T15:04:05-07:00" . }}
                <div class="post-meta">
                    <time datetime="{{ $ISO_time }}" itemprop="datePublished"> {{ . | time.Format $configDateFormat }} </time>
                    {{ if ne ($.Lastmod.Format "2006-01-02") (.Format "2006-01-02") }}
                    {{ $ISO_lastmod := dateFormat "2006-01-02T15:04:05-07:00" $.Lastmod }}
                    <span class="post-meta_updated">Updated <time datetime="{{ $ISO_lastmod }}" itemprop="dateModified">{{ $.Lastmod | time.Format $configDateFormat }}</time></span>
                    {{ end }}
                </div>
                {{ end }}
            </header>
            {{ partial "toc.html" .}}
            <div class="page-content">
                {{ .Content }}
            </div>
        </article>
        {{- partial "comments.html" . -}}
    </main>
</div>
{{ end }}
